# .coveragerc to control coverage.py
[run]
branch = True
concurrency = thread
context = (empty)
disable_warnings = module-not-imported
dynamic_context = test_function
source =
	habapp_rules
	tests
omit =
    *oh_item.py
    *rule_runner.py
    *run_unittest.py
    *__version__.py

[report]
omit =
    */common/graph_machines.py

# Regexes for lines to exclude from consideration
exclude_lines =
	# Have to re-enable the standard pragma
	pragma: no cover

	# Don't complain if non-runnable code isn't run:
	if __name__ == "__main__":

	# Don't complain about code running only while type checking:
	if typing.TYPE_CHECKING:

	# Don't complain about typing overloads as they have no runtime meaning
	@(typing.)?overload